.groupLayout {
}

.colorImage {
  position: right;
  filter: grayscale(100%);
  height: 300px;
  width: 300px;
  float: right;
}

.button {
  display: block !important;
  margin: 15px;
  padding-top: 12px;
  &:hover {
    color: $white;
    background: $md-primary-color;
  }
}
.buttonClicked {
  display: block !important;
  margin: 15px;
  padding-top: 12px;
  color: $white;
  background: $md-primary-color !important;
}
