@include react-md-subheaders;

:global {
  .md-subheader {
    padding: 5px 10px;
    background-color: $neutral10;
  }
}

.col50 {
  width: 50%;
}

.container {
  z-index: 1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.select-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: $minPadding;
}

.button-container {
  display: flex;
  flex-flow: column nowrap;
}

.tool-actions-header,
.button-tool-container,
.select-tool-container,
.slider-tool-container,
.color-swatch-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: flex-start;
}

.tool-actions-header {
  margin-top: $minPadding;
  font-weight: $medium;

  .button-tool-container {
    padding-left: $minPadding;
  }

  .select-tool-container {
    padding-left: 16px;
  }
}

.button-tool-container {
  width: 10%;
  min-width: 80px;
}

.colorSwatch-container {
  align-items: center;
  justify-content: center;
  // width: 5%;
  min-width: 50px;

  .color-swatch {
    margin: 0 20px 0 5px;
  }
}

.select-tool-container:not(.container) {
  width: 35%;
  min-width: 100px;
}

.select-tool-container {
  :global .md-select-field {
    border: 1px solid #d5d5d5;
    border-radius: 3px;

    &[disabled] {
      border-color: $neutral10;
    }
  }
}

.button {
  width: 50px;
  height: 50px;
  margin: 15px auto;
  line-height: 1;
  background: #d5d5d5;
  transition: background $duration ease-in-out;

  &[disabled] {
    background: $neutral10;
  }

  &:not(:disabled):hover {
    color: $white;
    background: $basePrimary;
  }
}

.resetBtn {
  border-radius: 3px;
}

.slider-container {
  flex: 1;
  min-width: 100px;
  padding: 0 ($minPadding / 2);
  margin-left: 10px;

  :global .md-slider-container {
    .md-slider-thumb--on {
      border: 2px solid $white;
      box-shadow: 0 0 6px -2px rgba(0, 0, 0, 0.2), 0 0 2px rgba(0, 0, 0, 0.24);
      transform: scale(1.5);
      transform-origin: center;
    }
  }
}

.active {
  color: $white;
  background: $basePrimary;

  &[disabled] {
    background: #d5d5d5;
  }
}

.image-container {
  position: relative;
  height: 500px;
  margin: 0 $minPadding;
  overflow: hidden;
  // background-color: rgba(255, 255, 255, 0.02);
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.2), 0 0 3px rgba(0, 0, 0, 0.24);
}

.filter-image {
  position: absolute;
  // z-index: 21;
  width: 100%;
  height: 100%;
  visibility: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  mix-blend-mode: screen;
  opacity: 0;
}

.filter-active {
  visibility: visible;
  opacity: 1;
}

.color-swatch {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $minPadding;
  height: $minPadding;
  border-radius: 2px;
  box-shadow: 0 3px 6px -2px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: background-color $duration ease-in-out;

  &.large-swatch {
    width: $minPadding * 1.5;
    height: $minPadding * 1.5;
  }
}
