.md-select-container {
  width: 100%;

  :global {
    @include react-md-select-fields;

    .md-menu--select-field {
      position: relative;
    }

    .md-list {
      position: absolute;
      z-index: 6;
      flex-flow: column nowrap;
    }

    .md-list--menu-restricted {
      max-height: 250px;
      overflow: scroll;
    }

    .md-text--disabled {
      .md-icon-text {
        color: rgba(0, 0, 0, 0.38);
      }
    }
  }
}
