.light-curve, .template {
  width: 100%;
  height: auto;

  &.loaded {
    visibility: visible;
    /* stylelint-disable-next-line declaration-no-important */
    opacity: 1 !important;
  }
}

.data-point {
  stroke: 'transparent';
  transition: stroke $timing $duration, opacity $timing $duration;

  &.selected, &.hovered {
    stroke: pink;
  }

  &.invisible-data-point {
    opacity: 0;
  }

  &.visible-data-point {
    opacity: 1;
  }
}

.proxy-point {
  stroke: $black;
}

.template {
  position: absolute;
  cursor: grab;

  .template-line {
    fill: transparent;
    stroke: $black;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
  }
}

