.qa:global(.md-expansion-panel--expanded) {
  width: 100%;
  margin-top: 0;

  i {
    display: none;
  }
}

.qa {
  :global {
    .md-panel-header {
      height: auto;
      padding: $minPadding;
    }

    .md-fake-btn .md-text,
    .md-fake-btn .md-text p {
      @include copySecondary;
      /* stylelint-disable-next-line declaration-no-important */
      min-width: 0 !important;
      line-height: $baseLineHeight;
      color: $neutral20;

      &.md-panel-column:not(:last-child) {
        padding-right: 0;
      }

      p {
        margin-bottom: 0;
      }
    }
  }

  &.active {
    .answer {
      padding-right: $minPadding;
      padding-bottom: 0;
      padding-left: $minPadding;

      p {
        margin: 0;
      }
    }

    :global {
      .md-panel-header {
        height: auto;
      }

      .md-fake-btn .md-text,
      .md-fake-btn .md-text p {
        color: $basePrimary;
      }
    }
  }

  &.answered:not(.active) {
    :global {
      .md-panel-header {
        padding: $minPadding $minPadding 0;
      }

      .md-fake-btn .md-text,
      .md-fake-btn .md-text p {
        color: $basePrimary;
      }
    }

    .answer {
      padding: $minPadding / 2 $minPadding $minPadding;

      p {
        max-width: calc(100% - 124px);
        margin: 0 0 0 $minPadding;
      }
    }
  }

  .answer {
    .answer-pre,
    .answer-post {
      p {
        display: inline;
      }
    }

    .edit-button {
      margin-right: $minPadding * 0.5;
    }

    + footer {
      padding: $minPadding;
      border: 0;
    }
  }
}

.label-with-number {
  p:first-child {
    display: inline;
  }
  ul {
    margin-top: $minPadding;
  }
}
