:global .qa-select {
  label,
  .label-pre,
  .label-post {
    @include copySecondary;
    line-height: $baseLineHeight;
  }

  select {
    @include copyPrimary;
  }

  &:not(.answerable) {
    .select-wrapper::after {
      border-top-color: $neutral20;
    }

    select,
    label,
    .label-pre,
    .label-post {
      color: $neutral20;
    }

    select {
      &:focus,
      &:hover {
        + hr {
          max-height: 1px;
          background-color: $neutral20;
        }
      }
    }

    hr {
      max-height: 1px;
      background-color: $neutral20;
    }
  }

  &.answerable {
    label, .label-pre {
      color: $basePrimary;
    }
  }
}
