:global {
  .galaxy-selector-container {
    position: relative;
    max-height: calc(100vh - 230px);
    overflow: hidden;
    box-shadow: none;

    .md-drawer {
      position: absolute;
      overflow: auto;
      background: transparent;

      .md-list {
        height: 100%;
        padding: 0;
        background: transparent;

        .md-list-item.galaxy-item.link-active {
          background-color: $basePrimary;
        }

        .md-list-tile {
          justify-content: center;
          padding: 32px 26px;

          .md-tile-addon--avatar {
            height: auto;
          }
        }
      }
    }

    .galaxy-selector--navigation-drawer {
      header {
        display: none;
      }

      aside {
        box-shadow: none;

        .galaxy-item {
          &:hover {
            background-color: rgba(200, 200, 200, 0.3);
          }

          &.link-active {
            background-color: rgba(200, 200, 200, 0.3);

          }

          &.link-active svg {
            fill: $basePrimary;
          }

          &.link-item.link-is-not-complete {
            background: rgba(200, 0, 0, 0.3);

          }

          &.link-item.link-is-not-complete .md-text--disabled {
            color: $neutral30;
          }

          &.link-item.link-is-not-complete svg {
            // fill: $neutral30;
            opacity: 0.7;
          }

          &.link-is-disabled {
            pointer-events: none;
            opacity: 0.3;
          }
        }

        .galaxy-item svg {
          fill: $neutral30;
        }
      }

      nav.md-drawer {
        background: #9ed0ce;

        .md-list-item.galaxy-item {
          .md-list-tile .md-text {
            color: $white;
          }

          svg {
            fill: $white;
          }

          &:not(.link-active):hover .md-list-tile--active {
            background-color: rgba(255, 255, 255, 0.5);

          }

          &:not(.link-active):hover .md-list-tile--active svg {
            fill: $white;
          }

          &.link-active {
            color: $white;
            background-color: $basePrimary;
          }

          &.link-item.link-is-not-complete {
            background-color: rgba(200, 0, 0, 0.3);

          }

          &.link-item.link-is-not-complete .md-text--disabled {
            color: $neutral30;
          }

          &.link-item.link-is-not-complete svg {
            fill: $neutral30;
          }

          &.link-is-disabled {
            pointer-events: none;

          }

          &.link-is-disabled .md-text--disabled {
            color: #777777;
          }
        }
      }
    }

    .main-galaxy-selector-content {
      // margin: 0 0 0 72px;
      margin: 0;
    }

    .scatter-plot {
      overflow: auto;

      .space-bottom {
        display: none;
      }
    }
  }
}
