:global {
  .galaxy-selector--toolbar {
    padding: 9px;

    .md-title--toolbar {
      margin: 0.5rem 1rem;
    }
  }

  .galaxy-selector-container {
    position: relative;
    height: calc(100vh - 230px);
    overflow: hidden;
    box-shadow: none;

    .md-drawer {
      position: absolute;
      overflow: auto;
      // box-shadow: none;

      .md-list {
        padding: 0;
        height: 100%;

        .md-list-item.galaxy-item {
          &.link-active {
            background-color: $basePrimary;
            color: $white;
            svg {
              fill: $white;
            }
          }
          &:not(.link-active):hover {
            background-color: $neutral20;
          }
        }

        .md-list-tile {
          justify-content: center;
          padding: 32px 26px;

          .md-tile-addon--avatar {
            height: auto;
          }
        }
      }
    }

    .galaxy-selector--navigation-drawer {
      header {
        display: none;
      }

      .md-list {
        .galaxy-item {
          &.link-active {
            background-color: $basePrimary;
            color: $white;
            svg {
              fill: $white;
            }
          }
          &:not(.link-active):hover {
            background-color: $neutral20;
          }
        }
      }
    }

    .main-galaxy-selector-content {
      margin: 0 0 0 72px;
    }

    .scatter-plot {
      overflow: auto;
      .space-bottom {
        display: none;
      }
    }
  }
}
