:global {
  .galaxy-selector--toolbar {
    padding: 9px;

    .md-title--toolbar {
      flex: 1;
      margin: 0.5rem 1rem;
    }

    .md-cell--right.md-toolbar--action-right {
      align-self: center;
      justify-self: flex-end;
    }
  }

  .galaxy-selector-container {
    position: relative;
    max-height: calc(100vh - 230px);
    // min-height: 500px;
    overflow: hidden;
    box-shadow: none;

    .md-drawer {
      position: absolute;
      overflow: auto;
      background: transparent;
      // box-shadow: none;

      .md-list {
        height: 100%;
        padding: 0;
        background: transparent;

        .md-list-item.galaxy-item {
          &.link-active {
            color: $white;
            background-color: $basePrimary;

            svg {
              fill: $white;
            }
          }
        }

        .md-list-tile {
          justify-content: center;
          padding: 32px 26px;

          .md-tile-addon--avatar {
            height: auto;
          }
        }
      }
    }

    .galaxy-selector--navigation-drawer {
      header {
        display: none;
      }

      aside {
        box-shadow: none;

        .galaxy-item {
          &:hover {
            background-color: rgba(200, 200, 200, 0.3);
          }

          svg {
            fill: $neutral30;
          }

          &.link-active {
            background-color: rgba(200, 200, 200, 0.3);

            svg {
              fill: $basePrimary;
            }
          }
        }
      }

      nav {
        background: $black;

        .md-list {
          .galaxy-item {
            svg {
              fill: $basePrimary;
            }

            &:not(.link-active):hover .md-list-tile--active {
              background-color: $neutral40;

              svg {
                fill: $white;
              }
            }

            &.link-active {
              color: $white;
              background-color: $basePrimary;
            }
          }
        }
      }
    }

    .main-galaxy-selector-content {
      // margin: 0 0 0 72px;
      margin: 0;
    }

    .scatter-plot {
      overflow: auto;

      .space-bottom {
        display: none;
      }
    }
  }
}
