.modal-container {
  .close-button {
    margin-left: auto;

    svg {
      fill: $white;
    }
  }

  .modal {
    @include modal;

    @each $size, $width in $modal-sizes {
      &.modal-#{$size} {
        .modal-dialog {
          max-width: $width;
        }
      }
    }

    .modal-dialog {
      width: 100%;
      max-width: $modal-width;
      margin: $minPadding;
      background-color: $white;
      border-radius: $minPadding;
    }

    .modal-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: $minPadding;
      background-color: $basePrimary;
      border-top-left-radius: $minPadding;
      border-top-right-radius: $minPadding;

      h1 {
        margin: 0;
        font-weight: $bold;
        color: $white;
      }
    }

    .modal-body {
      display: flex;
      flex-direction: column;
      min-height: 20vh;
      max-height: 60vh;
      padding: $minPadding;
      border-bottom-right-radius: $minPadding;
      border-bottom-left-radius: $minPadding;
    }

    footer {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-top: auto;
    }
  }
}

@media only screen and (min-width: $break50) {
  .modal-container {
    .modal {
      .modal-body {
        .single-modal-image {
          display: grid;
          gap: $minPadding;
          grid-template-columns: 3fr 1fr;
          margin: 0;

          figcaption {
            margin: 0;
          }
        }
      }
    }
  }
}
