.equation-container {
  margin-bottom: 20px;
}

.equation {
  font-size: 17px;
  font-weight: $medium;
}

.fraction {
  @include fraction;
}

.exponent {
  @include exponent;
  position: relative;
  top: -7px;
  left: -3px;
}

.color {
  color: $basePrimary;
}

.square-root {
  &::before {
    content: '√';
  }
}
