:global {
  @include react-md-progress-linear;

  .md-drawer {
    .md-progress {
      width: auto;
      margin: 0 1em 1em;

      &.md-progress--linear {
        height: 20px;
        background: $baseSecondary;
      }

      .md-progress--linear-active {
        background: $chart3;
      }
    }
  }
}

.header-title {
  @include labelSecondary;
  margin: $minPadding 1em 4px 1em;
}

.big {
  + .big {
    margin-top: $minPadding;
  }

  .header-title {
    @include subheadingPrimary;
    margin: 0 0 $minPadding / 2 0;
  }

  :global {
    .md-progress {
      width: 100%;
      margin: 0;

      &.md-progress--linear {
        height: 30px;
        background: $baseSecondary;
      }

      .md-progress--linear-active {
        background: $chart3;
      }
    }
  }
}
