:global {
  .md-drawer {
    .progress-linear-container {
      width: auto;
      margin: 1em;
    }
  }
}

.header-title {
  @include labelSecondary;
  margin: $minPadding 1em 4px 1em;
}

.big {
  + .big {
    margin-top: $minPadding;
  }

  .header-title {
    @include subheadingPrimary;
    margin: 0 0 $minPadding / 2 0;
  }

  :global {
    .progress-linear-container {
      width: 100%;
      height: 30px;
      margin: 0;
      background: $baseSecondary;

      .progress-linear {
        background: $awOrange;
      }
    }
  }
}
