.hubble-plot-container {
  width: 100%;
}

.hubble-plot {
  width: 100%;
  height: auto;

  // &.loaded {
  //   visibility: visible;
  //   opacity: 1;
  // }
}

.axis {
  :global .tick {
    @include labelPrimary;
  }
}

.axis-grid {
  :global line {
    stroke: $neutral50;
  }
}

.widget-title {
  margin-left: 20px;
  text-align: center;
}

.x-axis-label {
  text-anchor: middle;
}

.message {
  @include headingSecondary;
  color: $error;
}

.galaxy-point {
  /* stylelint-disable-next-line declaration-no-important */
  outline: none !important;
  fill: $chart0;
  stroke-width: 2;
  transition: stroke $timing $duration, opacity $timing $duration;

}

:global {
  .set-0 {
    stroke-width: 1;
  }
}

.cursor-point {
  /* stylelint-disable-next-line declaration-no-important */
  outline: none !important;
  opacity: 0.5;
  transition: stroke $timing $duration, opacity $timing $duration;
}

.invisible {
  opacity: 0;
}

.point-label {
  @include labelPrimary;

  &.active-label {
    font-weight: $medium;
  }
}

// NavDrawer related styles

.drawer-container {
  position: relative;
  box-shadow: none;
}

// mini drawer
aside {
  .scramble-item {
    margin-bottom: -1px;
    background-color: $neutral10;
    transition: background-color $timing $duration;

    .nav-avatar {
      @include labelPrimary;
      font-weight: $medium;
      color: $basePrimary;
    }

    :global {
      .md-icon {
        fill: $basePrimary;
      }
    }

    &:hover,
    &.link-active {
      background-color: $basePrimary;

      .nav-avatar {
        color: $white;
      }
    }
  }

  @for $i from 0 through length($chartColors) - 1 {
    :global {
      .scramble-item-#{$i} {
        $chartColor: nth($chartColors, $i + 1);

        &.link-active,
        &:hover {
          /* stylelint-disable-next-line declaration-no-important */
          background-color: $chartColor !important;

          .color-#{$i}-fill {
            /* stylelint-disable-next-line declaration-no-important */
            fill: $white !important;
          }
        }
      }
    }
  }
}

// full size drawer
nav {
  .scramble-item {
    :global {
      .md-text {
        @include labelPrimary;
        font-weight: $medium;
      }
    }

    &.link-active,
    .md-fake-btn:hover {
      :global {
        .md-tile-text--primary,
        .md-tile-text--primary.md-text--theme-primary,
        .md-text {
          /* stylelint-disable-next-line declaration-no-important */
          color: $white !important;
        }
      }
    }
  }

  @for $i from 0 through length($chartColors) - 1 {
    :global {
      .scramble-item-#{$i} {
        $chartColor: nth($chartColors, $i + 1);

        &.link-active,
        .md-fake-btn:hover {
          /* stylelint-disable-next-line declaration-no-important */
          background-color: $chartColor !important;

          .color-#{$i}-fill {
            /* stylelint-disable-next-line declaration-no-important */
            fill: $white !important;
          }
        }
      }
    }
  }
}
