.hubble-plot-container {
  width: 100%;
}

.hubble-plot {
  width: 100%;
  height: auto;

  // &.loaded {
  //   visibility: visible;
  //   opacity: 1;
  // }
}

.x-axis-label {
  text-anchor: middle;
}

.galaxy-point {
  /* stylelint-disable-next-line declaration-no-important */
  outline: none !important;
  fill: $chart0;
  stroke: none;
  transition: stroke $timing $duration, opacity $timing $duration;
}

.cursor-point {
  /* stylelint-disable-next-line declaration-no-important */
  outline: none !important;
  opacity: 0.5;
  transition: stroke $timing $duration, opacity $timing $duration;
}

.invisible {
  opacity: 0;
}

.point-label {
  @include labelPrimary;

  &.active-label {
    font-weight: $medium;
  }
}

// NavDrawer related styles

.drawer-container {
  position: relative;
  box-shadow: none;
}

// mini drawer
aside {
  .scramble-item {
    margin-bottom: -1px;
    background-color: $neutral10;
    transition: background-color $timing $duration;

    .nav-avatar {
      @include labelPrimary;
      font-weight: $medium;
      color: $basePrimary;
    }

    :global {
      .md-icon {
        fill: $basePrimary;
      }
    }

    &:hover,
    &.link-active {
      background-color: $basePrimary;

      .nav-avatar {
        color: $white;
      }
    }

    &.link-is-disabled {
      background-color: rgba(200, 200, 200, 0.6);

      .nav-avatar {
        color: $neutral10;
      }
    }
  }
}

// full size drawer
nav {
  .scramble-item {
    :global {
      .md-text {
        @include labelPrimary;
        font-weight: $medium;
      }
    }

    &.link-active {
      background-color: $basePrimary;

      :global {
        .md-tile-text--primary,
        .md-tile-text--primary.md-text--theme-primary,
        .md-text {
          /* stylelint-disable-next-line declaration-no-important */
          color: $white !important;
        }
      }
    }
  }
}
