.container {
  position: relative;
  height: ($containerMaxWidth - $minPadding) / 2;
  background-color: $black;

  @include respond($containerMaxWidth) {
    height: calc((100vw - #{$minPadding} * 2) / 2);
  }
}

.orbital-canvas {
  position: relative;
  z-index: 1;
}

.playback-speed {
  @include labelSecondary;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  padding: $minPadding;
  color: $white;
  text-align: right;
}

.padded-drawer-inner {
  width: ($containerMaxWidth - $minPadding) / 2;
  padding: 0 0 0 72px;
  outline: none;

  @include respond($containerMaxWidth) {
    width: calc((100vw - #{$minPadding} * 2) / 2);
  }
}

//  Nav Drawer
.nav-item {
  :global {
    .md-list-tile {
      background-color: $neutral10;
      transition: background-color $timing $duration;

      .md-tile-addon {
        color: $basePrimary;
        transition: color $timing $duration;
      }

      &:hover {
        background-color: $basePrimary;

        .md-tile-addon {
          color: $white;
        }

        .md-tile-text--primary,
        .md-tile-text--primary.md-text--theme-primary,
        .md-text {
          color: $white;
        }
      }
    }
  }

  &.active-item {
    :global {
      .md-list-tile {
        background-color: $basePrimary;

        .md-tile-addon {
          color: $white;
        }

        .md-tile-text--primary,
        .md-tile-text--primary.md-text--theme-primary,
        .md-text {
          /* stylelint-disable-next-line declaration-no-important */
          color: $white !important;
        }
      }
    }
  }
}

.label {
  padding-top: 4px;
  color: $white;
}

.obs-mesh {
  cursor: pointer;
}

.obs-label {
  padding-top: -8px;
  font-size: 16px;
  color: $white;
  cursor: pointer;

  &.obs-answer, &.obs-hover {
    font-size: 18px;
    color: 'blue';
  }

  &.obs-active {
    font-size: 18px;
    color: 'red';
  }
}

.details {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  max-width: 0;
  overflow: hidden;
  transition: max-width $timing $durationSlow;

  .details-table {
    margin-top: $minPadding * 2 + 36px;
    background-color: $white;

    :global {
      .md-text {
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }

  &.active-details {
    width: 100%;
    max-width: 350px;

    .details-table {
      :global {
        .md-text {
          overflow: auto;
          white-space: normal;
        }
      }
    }
  }

}

.details-toggle {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  margin: $minPadding;
  /* stylelint-disable-next-line declaration-no-important */
  color: $white !important;
  background-color: $error;

  &:disabled {
    background-color: $neutral20;
  }
}

