:global {
  @include react-md-toolbars;

  @media print {
    .header-primary {
      visibility: hidden;
    }
  }
}

.progress-bar-wrapper {
  :global {
    .md-progress {
      position: absolute;
      bottom: 0;
      padding: 0;
      margin: 0;

      &.md-progress--linear {
        height: 4px;
        background: $baseSecondaryLight;
      }

      .md-progress--linear-active {
        background: $baseSecondaryDark;
      }
    }
  }
}

.inner-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: $containerMaxWidth;
  margin: 0 auto;
}

.header-inner {
  display: flex;
  justify-content: space-between;
}

.logo-wrapper {
  display: flex;
  align-items: center;
}

.site-logo {
  width: 75px;
  margin: 0 $minPadding;
}

.page-progress {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.toc-toggle {
  :global {
    .md-icon-separator {
      align-items: flex-start;
    }
  }
}

.investigation-title {
  @include headingPrimary;
  margin: 0 $minPadding;
  color: $white;
}

.page-title {
  @include headingSecondary;
  margin-left: $minPadding / 2;
  color: $white;
}
