:global {
  @include react-md-toolbars;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  max-width: $containerMaxWidth;

  .menu-icon {
    margin: 10px;
  }
}

.logo-wrapper {
  display: flex;
  align-items: center;
}

.site-logo {
  width: 96px;
  margin-left: 20px;
}

.page-progress {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

