
.page-navigation {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
  padding: 8px 1rem;
  background-color: $md-primary-color;

  :global {
    .md-btn {
      &.md-btn--icon {
        svg {
          margin-top: -2px;
          margin-left: -2px;
        }

        .md-icon {
          color: inherit;
          transition: color $duration $timing;
        }

        &.outlined {
          color: $white;
          border: 2px solid $white;
          transition: background $duration $timing;

          &:hover {
            color: $md-primary-color;
            background: $white;
            border-color: $white;
          }

          &.is-disabled {
            color: $neutral20;
            background: $neutral30;
            border: solid 2px;
            border-color: $neutral20;
          }
        }
      }
    }
  }

  .nav-secondary {
    @include navPrimary;
    display: flex;
    align-items: center;
    justify-content: center;

    .nav-item {
      padding-left: 20px;
    }

    &.combined {
      visibility: hidden;
    }
  }
}
