:global {
  @include react-md-buttons;

  .md-btn {
    &.md-btn--icon {
      .md-icon {
        color: inherit;
        transition: color $duration $timing;
      }

      &.outlined {
        color: $white;
        border: 1px solid $white;
        transition: background $duration $timing;

        &:hover {
          color: $md-primary-color;
          background: $white;
          border-color: $white;
        }
      }
    }
  }
}

.page-navigation {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  // padding: $minPadding;
  padding: 8px 1rem;
  background-color: $md-primary-color;

  .nav-secondary {
    @include navPrimary;
    display: flex;
    align-items: center;
    justify-content: center;

    .nav-item {
      padding-left: 20px;
    }

    &.combined {
      visibility: hidden;
    }
  }
}
