:global {
  @include react-md-menus-media;
  @include react-md-selection-controls;
}

.qa-multi-select {
  label,
  .label-pre,
  .label-post {
    @include copySecondary;
    line-height: $baseLineHeight;
  }

  select {
    @include copyPrimary;
  }

  &:not(.answerable) {
    .select-wrapper::after {
      border-top-color: $neutral20;
    }

    select,
    label,
    .label-pre,
    .label-post,
    .multi-select-options {
      position: relative;
      color: $neutral20;
      pointer-events: none;
    }

    select {
      &:focus,
      &:hover {
        + hr {
          max-height: 1px;
          background-color: $neutral20;
        }
      }
    }

    hr {
      max-height: 1px;
      background-color: $neutral20;
    }
  }

  &.answerable {
    label,
    .label-pre,
    .label-post {
      color: $basePrimary;
    }
  }

  :global .md-menu-container.md-full-width {
    .md-list--menu.md-list--inline {
      flex-wrap: wrap;
      min-width: 350px;
      max-width: 100%;
      padding: 10px;
      overflow-y: auto;
      transform: translateY(35px);
    }
  }

  .multi-select-dropdown {
    position: relative;

    :global {
      .md-list--menu {
        position: absolute;
        z-index: 1;
        flex-flow: row wrap;
        min-width: 200px;
        max-width: 400px;
        max-height: 200px;
        padding-right: 10px;
        overflow-y: auto;
        transform: translateY(-50%);

        div:last-child {
          padding-right: 10px;
        }
      }
    }

    .full-width-select {
      display: block;
      width: 100%;
      margin-top: 10px;
    }

    .selected-options {
      display: inline-block;
      @include copyPrimary;
      min-width: 150px;
      padding: 0 40px 2px 10px;
      cursor: pointer;
      border-bottom: 1px solid $black;

      &::after {
        position: absolute;
        top: 50%;
        right: 16px;
        display: inline-block;
        margin-top: -3px;
        pointer-events: none;
        content: '';
        border-top: 6px solid #525459;
        border-right: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-left: 6px solid transparent;
      }
    }
  }
}
