:global {
  @include react-md-sliders;
  @include react-md-selection-controls;

  .md-slider-track {
    margin-right: 12px;
    margin-left: 12px;

    .md-fake-btn {
      top: -9px;
      background: $md-primary-color;

      &::before {
        position: absolute;
        right: 0;
        bottom: calc(50% - 2px);
        left: -10px;
        z-index: -1;
        display: inline-block;
        width: 34px;
        height: 4px;
        content: '';
        background: rgba(8, 127, 128, 0.5);
        border-radius: 2px;
        transition: background $duration $timing;
      }

      &.md-slider-thumb--disabled {
        background: $neutral20;
        border-color: $neutral20;

        &::before {
          background: transparent;
        }
      }
    }

    .md-slider-thumb--mask-disabled {
      background: transparent;
    }

    .md-slider-discrete-value {
      top: calc(50% - 7px);
    }

    .md-slider-track-fill {
      display: none;
    }
  }

  .md-switch-track {
    .md-switch-thumb--on {
      background: $md-primary-color;
    }

    .md-switch-thumb--off {
      background: $neutral20;
    }
  }
}
