.nav-drawer-container {
  position: relative;
  z-index: 1;
  // overflow: hidden;

  :global {
    .md-drawer {
      position: absolute;
      overflow: auto;
      background: transparent;
      background-color: transparent;
      box-shadow: none;

      .md-list {
        height: 100%;
        padding: 0;
        background: transparent;

        .md-list-tile {
          justify-content: center;
          padding: 32px 26px;

          .md-tile-addon--avatar {
            height: auto;
          }
        }
      }
    }

    nav.md-drawer {
      background: $neutral10;
    }

    .md-navigation-drawer-content {
      margin: 0;
      outline: none;
    }
  }

  header {
    display: none;
  }
}

.drawer-card {
  position: relative;
  box-shadow: none;
}

.drawer-inner {
  margin: 0;
}

.padded-drawer-inner {
  padding-right: $minPadding;
  padding-bottom: $minPadding;
  padding-left: 72px;
  outline: none;
}

.stacked-item {
  display: none;
}

.visibility-active {
  display: block;
}

.nav-item {
  :global {
    .md-list-tile {
      background-color: $neutral10;
      transition: background-color $timing $duration;

      .md-icon {
        fill: $basePrimary;
        transition: fill $timing $duration;
      }

      &:hover {
        background-color: $basePrimary;

        .md-icon {
          fill: $white;
        }

        .md-tile-text--primary,
        .md-tile-text--primary.md-text--theme-primary,
        .md-text {
          color: $white;
        }
      }
    }
  }

  &.active-item {
    :global {
      .md-list-tile {
        background-color: $basePrimary;

        .md-icon {
          fill: $white;
        }

        .md-tile-text--primary,
        .md-tile-text--primary.md-text--theme-primary,
        .md-text {
          /* stylelint-disable-next-line declaration-no-important */
          color: $white !important;
        }
      }
    }
  }
}

aside .colorized-nav-item,
nav .colorized-nav-item {
  @for $i from 0 through length($chartColors) - 1 {
    $color: nth($chartColors, $i + 1);

    &-#{$i} {
      margin-bottom: -1px;
      background-color: $neutral10;
      transition: background-color $timing $duration;

      :global {
        .md-icon {
          fill: $color;
          transition: fill $timing $duration;
        }

        .md-text {
          /* stylelint-disable-next-line declaration-no-important */
          color: $color !important;
        }
      }

      &.active,
      &:hover {
        /* stylelint-disable-next-line declaration-no-important */
        background-color: $color !important;

        > div {
          /* stylelint-disable-next-line declaration-no-important */
          background-color: $color !important;
        }

        :global {
          .md-icon {
            /* stylelint-disable-next-line declaration-no-important */
            fill: $white !important;
          }

          .md-tile-text--primary,
          .md-tile-text--primary.md-text,
          .md-text {
            /* stylelint-disable-next-line declaration-no-important */
            color: $white !important;
          }
        }
      }
    }
  }
}
