// Graph selection QAs
.qas {
  &.form {
    margin-top: 1.5 * $minPadding;
  }

  &.md-expansion-panel-list {
    .qa {
      width: 100%;

      + .qa {
        margin-top: 0.5 * $verticalSpace;
      }

      i {
        display: none;
      }

      .md-fake-btn .md-text {
        /* stylelint-disable-next-line declaration-no-important */
        min-width: 0 !important;
        color: $neutral20;

        &.md-panel-column:not(:last-child) {
          padding-right: 0;
        }

        p {
          margin: 0;
        }
      }

      &.active {
        .md-panel-header {
          height: auto;
          padding: $minPadding;
        }

        .answer {
          padding-right: $minPadding;
          padding-bottom: 0;
          padding-left: $minPadding;
        }

        .md-fake-btn .md-text {
          color: $black;
        }
      }

      &.answered:not(.active) {
        .md-fake-btn .md-text {
          color: $basePrimary;
        }

        .answer {
          padding: $minPadding * 0.5 0 0;

          p {
            max-width: calc(100% - 124px);
          }
        }
      }

      .answer {
        .edit-button {
          margin-right: $minPadding * 0.5;
        }

        .answer-content,
        .unit {
          font-weight: $medium;
          color: $baseSecondaryDark;
        }

        + footer {
          padding: $minPadding;
          border: 0;
        }
      }
    }
  }

  > .qa {
    margin-top: 2 * $minPadding;
  }

  + .stellar-properties, + .hrd-observations {
    margin-top: 2 * $minPadding;
  }
}

// // Select Dropdown QAs
// .qa-select {
//   &.unanswered:not(.active) {
//     .select-wrapper::after {
//       border-top-color: $neutral20;
//     }

//     select,
//     label,
//     .label-pre,
//     .label-post {
//       color: $neutral20;
//     }

//     select {
//       &:focus,
//       &:hover {
//         + hr {
//           max-height: 1px;
//           background-color: $neutral20;
//         }
//       }
//     }

//     hr {
//       max-height: 1px;
//       background-color: $neutral20;
//     }
//   }

//   &.answered, &.active {
//     label, .label-pre {
//       color: $basePrimary;
//     }
//   }

//   // .select .select-wrapper {
//   //   width: auto;
//   // }
// }

.qa-compound-select {
  .inline-select {
    display: inline;
  }
}

// Text Input QAs
.md-text-field-container {
  &.unanswered:not(.active) {
    label {
      color: $neutral20;
    }

    hr {
      background-color: $neutral20;
    }
  }

  .md-floating-label {
    &.md-floating-label--inactive {
      @include copySecondary;
      color: $basePrimary;
    }

    &.md-floating-label--floating {
      font-size: 14px;
      color: $basePrimary;
    }
  }

  .md-text-field {
    @include copyPrimary;
  }
}
