.reference-container {
  display: flex;
  margin-bottom: $minPadding;

  &-left {
    justify-content: flex-start;
  }

  &-right {
    justify-content: flex-end;
  }

  &-center {
    justify-content: center;
  }
}
