.padded-drawer-inner-left {
  $asideWidth: 100px;
  padding-left: $asideWidth + $minPadding;
  background: #000000;
  outline: none;
}

.nav-item-text {
  font-size: 14px;
  white-space: nowrap;
}

.wider-drawer-container {
  position: relative;
  box-shadow: none;

  :global .md-drawer--mini {
    width: 100px;
    height: 100%;
    background-color: $neutral10;
  }
}

// mini drawer
aside {
  .navItem {
    margin-bottom: -1px;
    background-color: $neutral10;
    transition: background-color $timing $duration;

    .nav-avatar {
      @include labelPrimary;
      font-weight: $medium;
      color: $basePrimary;
    }

    :global {
      .md-icon {
        fill: $basePrimary;
      }
    }

    &:hover,
    &.link-active {
      color: $white;
      background-color: $basePrimary;

      .nav-avatar {
        color: $white;
      }
    }
  }
}

// full size drawer
nav {
  .navItem {
    :global {
      .md-text {
        @include labelPrimary;
        font-weight: $medium;
      }
    }

    &:hover,
    &.link-active {
      background-color: $basePrimary;

      :global {
        .md-tile-text--primary,
        .md-tile-text--primary.md-text--theme-primary,
        .md-text {
          /* stylelint-disable-next-line declaration-no-important */
          color: $white !important;
        }
      }
    }
  }
}
