.nav-item-text {
  font-size: 14px;
  white-space: nowrap;
}

.wider-drawer-container {
  position: relative;
  box-shadow: none;
  $miniWidth: 115px;

  :global {
    .md-drawer--mini {
      width: $miniWidth;
      height: 100%;
      background-color: $neutral10;
    }

    .md-drawer .md-list .md-fake-btn {
      padding: $minPadding + ($minPadding / 2) $minPadding;
    }
  }

  .padded-drawer-inner-left {
    padding-left: $miniWidth + $minPadding;
    background: #000000;
    outline: none;
  }

  .loading-chart-state {
    // background: #ffffff !important;
    min-height: 550px;
  }
}

// mini drawer
aside {
  .navItem {
    margin-bottom: -1px;
    background-color: $neutral10;
    transition: background-color $timing $duration;

    .nav-avatar {
      @include labelPrimary;
      font-weight: $medium;
      color: $basePrimary;
    }

    :global {
      .md-icon {
        fill: $basePrimary;
      }
    }

    &:hover,
    &.link-active {
      color: $white;
      background-color: $basePrimary;

      .nav-avatar {
        color: $white;
      }
    }
  }
}

// full size drawer
nav {
  .navItem {
    :global {
      .md-text {
        @include labelPrimary;
        font-weight: $medium;
      }
    }

    &:hover,
    &.link-active {
      background-color: $basePrimary;

      :global {
        .md-tile-text--primary,
        .md-tile-text--primary.md-text--theme-primary,
        .md-text {
          /* stylelint-disable-next-line declaration-no-important */
          color: $white !important;
        }
      }
    }
  }
}

.slide {
  width: 100%;
  height: 100%;
}
