.blink-container,
.blink-image-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.blinker-image {
  width: 100%;
  height: auto;
  opacity: 0;
}

.active-image {
  opacity: 1;
}

.controls {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 2;
  display: flex;
  justify-content: center;
  transform: translateX(-50%);
}

.control {
  background-color: rgba(200,200,200,0.5);

  &:hover {
    background-color: $white;
  }
}
