// // Text Input QAs
// // --------------------------------------------------------

.qa-text-input {
  &:not(.answerable) {
    :global {
      label,
      .md-floating-label,
      .md-floating-label p {
        color: $neutral20;
      }

      hr {
        background-color: $neutral20;
      }
    }
  }
}

.inline-input {
  display: inline-block;
  max-width: 180px;

  :global {
    .md-text-field {
      margin-top: 0;
    }

    .md-divider--text-field {
      margin-top: 0;
    }

    .md-floating-label {
      @include screenReaderText;
    }
  }
}

.label {
  color: $neutral20;

  &.answerable,
  &.answerable > p {
    font-weight: $medium;
    color: $basePrimary;
  }
}
