:global {
  @include react-md-drawers;
  @include react-md-lists;

  .md-drawer {
    .md-list.md-list--drawer {
      .md-subheader {
        padding-left: $minPadding;
      }

      .md-list-item {
        .md-list-tile {
          transition: background-color $durationSlow $timing;

          .md-tile-addon--icon svg {
            fill: transparent;
          }

          .md-tile-content--left-icon {
            padding-left: 15px;
          }

          .md-text {
            transition: color $duration $timing;
          }
        }

        .md-text-theme-primary,
        .md-text {
          @include labelPrimary;
          font-weight: $medium;
          color: $basePrimary;
        }

        &.qa-progress--complete {
          .md-list-tile .md-tile-addon--icon svg {
            fill: $basePrimary;
          }

          &:hover .md-list-tile .md-tile-addon--icon svg,
          &.link-active .md-list-tile .md-tile-addon--icon svg {
            fill: $protonWhite;
          }
        }

        &:hover .md-list-tile--active,
        &.link-active {
          background-color: $basePrimary;

          .md-text--theme-primary,
          .md-text {
            color: $protonWhite;
          }
        }

        .md-fake-btn {
          padding-left: 1rem;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }

  .md-overlay.md-overlay--drawer {
    z-index: 13;
  }
}

.table-of-contents {
  z-index: 14;
  padding-top: calc(#{$siteHeaderHeight} + 10px);

  .heading {
    @include copySecondary;
    padding: 1em 1em calc(1em - 8px) 1em;
    margin: 0;
  }

  :global {
    .md-list {
      height: calc(100vh - 324px);
      padding-top: 0;
      padding-bottom: 0;
      @include respond($break80, max) {
        height: calc(100vh - 330px);
      }
    }
  }
}
