:global {
  @include react-md-drawers;
  @include react-md-lists;

  .md-drawer {
    // .md-toolbar {}
    .md-list.md-list--drawer {
      .md-subheader {
        padding-left: 1rem;
      }

      .md-list-item {
        .md-fake-btn {
          padding-left: 1rem;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }

  .md-overlay.md-overlay--drawer {
    z-index: 13;
  }
}


.table-of-contents {
  // some content
  z-index: 14;
  padding-top: $siteHeaderHeight;
}
