/* stylelint-disable declaration-no-important */
.qa {
  + .qa {
    margin-top: $minPadding / 4;
  }
}

.qa-card {
  padding: $minPadding;
  transition: background $timing $durationSlow, box-shadow $timing $durationSlow;

  &:not(.active) {
    background: transparent;
    box-shadow: none;
  }
}

.qa-review-card {
  padding: $minPadding;
}

.label-with-number {
  p:first-child() {
    display: inline;
  }
}

.qa-review-no-active-state {
  color: $basePrimary;

  .qa-review-label,
  .qa-review-label-pre,
  .qa-review-label-post,
  .calculator-label,
  p {
    font-size: 16px !important;
    font-weight: $medium !important;
    color: $basePrimary !important;
  }
}

.qa-review-block {
  margin: 0 !important;
  font-size: 16px;
  font-weight: $medium;
  color: $basePrimary;

  @media print {
    font-size: 14px;
  }

  .answer-label,
  .answer-label p {
    display: inline-block;
    @extend .qa-review-block;
  }

  :global .answer-content {
    margin-top: 16px;
    font-size: 16px;
    font-weight: $regular;
    color: $black;
  }

  .qa-review-block-input {
    display: block;
    margin-top: $minPadding / 2 !important;
  }

  .qa-review-inline-input {
    display: inline-block;
    max-width: 180px;
    margin-top: 0 !important;
    text-decoration: underline;
  }

  .answer-content {
    margin-top: 16px;
    font-size: 16px;
    font-weight: $regular;
    color: $black;

    &-select {
      @extend .answer-content;
      text-decoration: underline;
    }
  }
}

.qa-review-table-container,
.qa-review-widget-container {
  margin: $minPadding;

  @media print {
    break-inside: avoid;
  }
}

.qa-review-questions-container {
  :global {
    .qas {
      > div {
        margin-bottom: $minPadding;
      }

      .md-fake-btn,
      .md-card {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
      }

      .md-panel-content {
        padding-bottom: 0 !important;
      }
    }
  }
}

.qa-review-widget-container {
  width: 800px;

  @media print {
    width: 50%;
  }
}
