/* stylelint-disable declaration-no-important */
.qa {
  + .qa {
    margin-top: $minPadding / 4;
  }
}

.qa-card {
  padding: $minPadding;
  transition: background $timing $durationSlow, box-shadow $timing $durationSlow;

  &:not(.active) {
    background: transparent;
    box-shadow: none;
  }
}

.label-with-number {
  p:first-child() {
    display: inline;
  }
}

.qa-review-no-active-state {
  color: $basePrimary;

  .qa-review-label,
  .qa-review-label-pre,
  .qa-review-label-post,
  .calculator-label,
  p {
    font-size: 16px !important;
    font-weight: $medium !important;
    color: $basePrimary !important;
  }
}

.qa-review-block {
  margin: 0 !important;
  font-size: 16px;
  font-weight: $medium;
  color: $basePrimary;

  .answer-label,
  .answer-label p {
    @extend .qa-review-block;
  }

  :global .answer-content {
    margin-top: 16px;
    font-size: 16px;
    font-weight: $regular;
    color: $black;
  }

  .qa-review-block-input {
    display: block;
  }

  .qa-review-inline-input {
    display: inline-block;
    max-width: 180px;
    margin-top: 0 !important;
    text-decoration: underline;
  }

  .answer-content {
    margin-top: 16px;
    font-size: 16px;
    font-weight: $regular;
    color: $black;

    &-select {
      @extend .answer-content;
      text-decoration: underline;
    }
  }
}

.qa-review-table-container {
  max-width: 800px;
  margin: 2 * $minPadding $minPadding;
}
