:global {
  .md-text-field-container {
    &:not(.answerable) {
      label,
      .md-floating-label,
      .md-floating-label p {
        color: $neutral20;
      }

      hr {
        background-color: $neutral20;
      }
    }
  }

  .qa-card {
    @include copySecondary;

    .md-card-text {
      padding: 16px 0;
    }
  }

  .md-text-field {
    padding-left: $minPadding / 2;
  }

  .col-50 {
    width: 50%;
    min-width: 200px;
  }

  .inline-question {
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: flex-start;

    .margin-right-text {
      margin-right: 3px;
    }
  }

  .results-list {
    margin-top: $minPadding;
  }

  .calculated-measurement {
    input {
      padding-left: 20px;
    }
  }

  .underline-highlight {
    display: inline-block;
    min-width: 40%;
    padding-bottom: 2px;
    border-bottom: 1px solid #333;
  }
}

.icon {
  @include copySecondary;
  white-space: nowrap;
}

.margin-top {
  margin-top: $minPadding;
}

.align-items-center {
  align-items: center;
}
