.qa-calc {
  @include copySecondary;

  :global {
    .md-card-text {
      padding: 16px 0;
    }

    .md-text-field-container {
      &:not(.answerable) {
        label,
        .md-floating-label,
        .md-floating-label p {
          color: $neutral20;
        }

        hr {
          background-color: $neutral20;
        }
      }
    }

    .md-text-field {
      padding-left: $minPadding / 2;
    }
  }
}

.icon {
  @include copySecondary;
  white-space: nowrap;
}

.equation-wrapper {
  margin-top: $minPadding;
}
