.galaxy-selector {
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.galaxy {
  @include dataPoint;
  transition: fill $timing $duration;

  &.selected {
    stroke-width: 2;
  }
}

.message {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  background-color: $neutral10;
  transition: max-height $timing $durationSlow;

  &.open {
    max-height: 67px;
    border-style: none;
  }

  .message-text {
    @include copyTertiary;
    padding: $minPadding;
    color: $basePrimary;
    text-align: center;
  }
}


.group-point {
  stroke: none;
  transition: stroke $timing $duration, opacity $timing $duration;
}

.single-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
}

.galaxy-nav-drawer {
  position: relative;
  outline: none;
}

.galaxy-drawer-content {
  position: relative;
}

.container {
  position: relative;
  z-index: 0;
  width: 100%;
  min-width: $break40;
  max-width: $tallestSquareWidget;
  margin: 0;
  box-shadow: none;
}

// mini drawer
aside {
  .galaxy-item {
    margin-bottom: -1px;
    background-color: $neutral10;
    transition: background-color $timing $duration;

    &.link-is-complete {
      background-color: $baseSecondaryDark;
    }

    &.link-active {
      background-color: $basePrimary;
    }

    &:hover {
      background-color: $basePrimary;
    }
  }
}

// full size drawer
nav {
  .galaxy-item {
    &.link-active {
      background-color: $basePrimary;

      :global {
        .md-tile-text--primary.md-text--theme-primary,
        .md-text {
          /* stylelint-disable-next-line declaration-no-important */
          color: $white !important;
        }
      }
    }

    &.link-is-complete {
      background-color: $baseSecondaryDark;

      :global {
        .md-tile-text--primary,
        .md-text--theme-primary,
        .md-text {
          /* stylelint-disable-next-line declaration-no-important */
          color: $white !important;
        }
      }
    }
  }
}

.link-is-complete {
  // background: yellow;
}

.link-is-not-complete {
  // background: red;
}

.link-is-disabled {
  // background: green;
}
