.blink-container,
.blink-image-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  &.active {
    background: blue;
  }
}

.blinker-image {
  width: 100%;
  height: auto;
  opacity: 0;

  &.active {
    opacity: 1;
  }
}

.galaxy-selector {
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.galaxy {
  @include dataPoint;
  fill: transparent;
  transition: fill $timing $duration;

  &.selected {
    // stroke: pink;
    stroke-width: 2;
  }
}

.controls {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 2;
  display: flex;
  justify-content: center;
  transform: translateX(-50%);
}

.blinker-buttons {
  background-color: rgba(200,200,200,0.5);

  &:hover {
    background-color: $white;
  }
}
