.galaxy-selector {
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.galaxy {
  @include dataPoint;
  fill: transparent;
  transition: fill $timing $duration;

  &.selected {
    stroke-width: 2;
  }
}
