.toolbar {
  align-items: center;
  padding: 9px;

  :global {
    .md-title--toolbar {
      flex: 1;
      margin: 0.5rem 1rem;
    }

    .md-cell--right.md-toolbar--action-right {
      align-self: center;
      justify-self: flex-end;
    }
  }
}

.menu-toggle {
  width: auto;
  min-width: 0;
  max-width: none;
  /* stylelint-disable-next-line declaration-no-important */
  margin: 0 !important;

  :global {
    .md-icon-text {
      display: none;
    }

    .md-icon {
      /* stylelint-disable-next-line declaration-no-important */
      color: black !important;
    }
  }
}
