.region {
  // opacity: 0;
  opacity: 0.5;
  fill: $basePrimary;
  stroke: $basePrimary;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 40;
  transition: opacity $timing $durationSuperSlow;

  // &.complete {
  //   opacity: 0.5;
  // }

  &.ms {
    fill: $basePrimary;
    stroke: $basePrimary;
  }

  &.wd {
    fill: $baseSecondary;
    stroke: $baseSecondary;
  }

  &.g {
    fill: $boldRed;
    stroke: $boldRed;
  }
}
