.svg-container {
  position: relative;
  min-width: $break30;
  max-width: $tallestSquareWidget;

  @media print {
    width: $break30;
  }
}

.svg-chart {
  display: block;
  width: 100%;
  min-width: $break30;
  max-width: $tallestSquareWidget;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: opacity $timing $durationSuperSlow;

  &.loaded {
    visibility: visible;
    opacity: 1;
  }

  &.hide-plot {
    visibility: hidden;
    opacity: 0;
  }
}
