.svg-container {
  position: relative;
  min-width: $break40;
  max-width: $tallestSquareWidget;
}

.svg-chart {
  display: block;
  width: 100%;
  min-width: $break40;
  max-width: $tallestSquareWidget;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: opacity $timing $durationSuperSlow;

  &.loaded {
    visibility: visible;
    /* stylelint-disable-next-line declaration-no-important */
    opacity: 1 !important;
  }
}
