.single-col-grid,
.left-col-grid,
.right-col-grid {
  @include copyPrimary;

  p {
    @include copyPrimary;
  }
}

.single-col-grid,
.left-col-grid {
  display: grid;
  grid-template:
    'grid-title' auto
    'grid-table-top' auto
    'grid-copy' auto
    'grid-table-middle' auto
    'grid-qas' auto
    'grid-table-bottom' auto
    'grid-widget' auto
    'grid-image' auto
    / 100%;
}

.right-col-grid {
  display: grid;
  grid-template:
    'grid-table-top' auto
    'grid-placeholder' auto
    'grid-widget' auto
    'grid-image' auto
    'grid-table-bottom' auto
    'grid-table-default' auto
    / 100%;
}

.grid-title {
  grid-area: grid-title;
}

.grid-copy {
  grid-area: grid-copy;
}

.grid-qas {
  grid-area: grid-qas;

  + .grid-widget, + .grid-image, + .grid-table-bottom {
    margin-top: $minPadding;
  }
}

.grid-placeholder {
  grid-area: grid-placeholder;
}

.grid-widget {
  grid-area: grid-widget;
}

.grid-image {
  grid-area: grid-image;

  img {
    width: 100%;
    margin: 20px auto;
  }
}
