.single-col-grid,
.left-col-grid,
.right-col-grid {
  @include copyPrimary;

  p {
    @include copyPrimary;
  }
}

.single-col-grid,
.left-col-grid {
  display: grid;
  grid-template:
    'grid-title' auto
    'grid-image-top' auto
    'grid-copy' auto
    'grid-widget-top' auto
    'grid-table-top' auto
    'grid-table-middle' auto
    'grid-qas' auto
    'grid-image-bottom' auto
    'grid-widget-bottom' auto
    'grid-table-bottom' auto
    / 100%;
}

.right-col-grid {
  display: grid;
  grid-template:
    'grid-image-top' auto
    'grid-widget-top' auto
    'grid-table-top' auto
    'grid-table-default' auto
    'grid-image-bottom' auto
    'grid-widget-bottom' auto
    'grid-table-bottom' auto
    'grid-placeholder' auto
    / 100%;
}

.grid-title {
  grid-area: grid-title;
  font-size: 24px;
  line-height: 32px;
  color: rgba(0, 0, 0, 0.87);
}

.grid-copy {
  grid-area: grid-copy;

  + .grid-widget,
  + .grid-widget-top,
  + .grid-widget-bottom,
  + .grid-image,
  + .grid-table-bottom {
    margin-top: $minPadding;
  }
}

.grid-qas {
  grid-area: grid-qas;

  + .grid-widget-top,
  + .grid-widget-bottom,
  + .grid-image-bottom,
  + .grid-table-bottom {
    margin-top: $minPadding;
  }
}

.grid-placeholder {
  grid-area: grid-placeholder;
}

.grid-widget-top {
  grid-area: grid-widget-top;
}

.grid-widget-bottom {
  grid-area: grid-widget-bottom;
}

.grid-image-top,
.grid-image-bottom {
  img {
    width: 100%;
    margin: $minPadding auto;
  }
}

.grid-image-top {
  grid-area: grid-image-top;
}

.grid-image-bottom {
  grid-area: grid-image-bottom;
}

.grid-table {
  + .grid-table {
    margin-top: $minPadding;
  }
}

.grid-table-default {
  grid-area: grid-table-default;
}

.grid-table-top {
  grid-area: grid-table-top;
}

.grid-table-bottom {
  grid-area: grid-table-bottom;
}

.grid-table-middle {
  grid-area: grid-table-middle;
}
