.single-col-grid,
.left-col-grid,
.right-col-grid {
  @include copyPrimary;

  p {
    @include copyPrimary;
  }
}

.single-col-grid,
.left-col-grid,
.right-col-grid {
  @include copyPrimary;

  p {
    @include copyPrimary;
  }
}

.grid-title {
  @include headingPrimary;
  grid-area: grid-title;
  color: $black;
}

.grid-copy {
  grid-area: grid-copy;

  + .grid-widget,
  + .grid-image,
  + .grid-table,
  + .grid-qas,
  + .grid-copy {
    margin-top: $minPadding;
  }

  p {
    @include copyPrimary;
    margin: 0;

    + h3,
    + h2,
    + p {
      margin-top: $verticalSpace;
    }
  }

  h1 {
    @include headingPrimary;
  }

  h2 {
    @include headingSecondary;
  }

  ul {
    @include copySecondary;
    padding-left: 20px;
    margin: 0.5 * $verticalSpace 0;

    li {
      + li {
        margin-top: 0.5 * $verticalSpace;
      }
    }
  }

  ol {
    @include copySecondary;
    padding-left: 15px;
    margin: 0.5 * $verticalSpace 0;

    li {
      + li {
        margin-top: 0.5 * $verticalSpace;
      }
    }
  }
}

.grid-qas {
  grid-area: grid-qas;

  + .grid-widget,
  + .grid-image,
  + .grid-table,
  + .grid-copy {
    margin-top: $minPadding;
  }
}

.grid-widget {
  + .grid-widget,
  + .grid-image,
  + .grid-table,
  + .grid-qas,
  + .grid-copy {
    margin-top: $minPadding;
  }
}

.grid-placeholder {
  grid-area: grid-placeholder;
}

.grid-widget-top {
  grid-area: grid-widget-top;
}

.grid-widget-bottom {
  grid-area: grid-widget-bottom;
}

.grid-image-top,
.grid-image-middle,
.grid-image-bottom {
  display: block;
  width: 100%;

  img {
    display: block;
    width: 100%;
  }

  figcaption {
    @include labelSecondary;
    margin-top: $minPadding / 2;
  }
}

// Image======================
.grid-image-top {
  grid-area: grid-image-top;
  margin-bottom: $minPadding;
}

.grid-image-middle {
  grid-area: grid-image-middle;
}

.grid-image-bottom {
  grid-area: grid-image-bottom;
}

.grid-image-middle,
.grid-image-bottom {
  margin-top: $minPadding;
}

// Copy ======================
.grid-copy-top {
  grid-area: grid-copy-top;
  margin-bottom: $minPadding;
}

.grid-copy-middle {
  grid-area: grid-copy-middle;
}

.grid-copy-bottom {
  grid-area: grid-copy-bottom;
}

.grid-copy-middle,
.grid-copy-bottom {
  margin-top: $minPadding;
}

// Questions ==================
.grid-qas-top {
  grid-area: grid-qas-top;
  margin-bottom: $minPadding;
}

.grid-qas-middle {
  grid-area: grid-qas-middle;
}

.grid-qas-bottom {
  grid-area: grid-qas-bottom;
}

.grid-qas-middle,
.grid-qas-bottom {
  margin-top: $minPadding;
}

// Table =====================
.grid-table {
  + .grid-table {
    margin-top: $minPadding;
  }
}

.grid-table-default {
  grid-area: grid-table-default;
}

.grid-table-top {
  grid-area: grid-table-top;
}

.grid-table-bottom {
  grid-area: grid-table-bottom;
}

.grid-table-middle {
  grid-area: grid-table-middle;
}
