// Component Appearance
// --------------------

// Appearance mixins contain primarily texture parameters: background-color, transparency, borders, etc. as well
// as some minor, internal structural properties where abstraction isn't required (to prevent over-abstracting)

// They may contain:
// Nested classes/elements with other structural or textural properties

// Appearance blocks should not contain typographic classes nor be dependent on the font-size from the element, unless
// it is as a non-dependent, comprehensive mixin (for now), or if the font size is being used for structural reasons (like the size of an icon-font glyph)

// Contents
// --------------------------
// - Imports
// - Prototypes
// - Utilities
// - Layout
// - Type
// - Images
// - Article Lists
// - Navigation Lists
// - Buttons/Links
// - Tables
// - Forms

// Utilities
// --------------------------------------------------------

@for $i from 0 through length($chartColors) - 1 {
  .color-#{$i} {
    $chartColor: nth($chartColors, $i + 1);

    &-background {
      background-color: $chartColor;
    }

    &-translucent-background {
      background-color: transparentize($chartColor, 0.5);
    }

    &-fill {
      /* stylelint-disable-next-line declaration-no-important */
      fill: $chartColor !important;
    }

    &-translucent-fill {
      /* stylelint-disable-next-line declaration-no-important */
      fill: transparentize($chartColor, 0.4) !important;
    }

    &-stroke {
      stroke: $chartColor;
    }

    &-stroke-light {
      stroke: lighten($chartColor, 5%);
    }

    &-color {
      color: $chartColor;
    }
  }
}

// Visually Hidden, for skip links and screen-reader only elements
@mixin screenReaderText {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}

.screen-reader-only {
  @include screenReaderText;
}

// Image replacement, for icons and things with hidden accessibility text
@mixin imageReplacement {
  display: block;
  overflow: hidden;
  text-align: left;
  text-indent: -999em;
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0;
  direction: ltr;

  br {
    display: none;
  }
}

// Layout
// --------------------------------------------------------
.divider-vertical {
  width: 2px;
  background: $neutral20;
  border-radius: 1px;
}

.divider-horizontal {
  @include hrUnstyled;
  height: 2px;
  margin: $minPadding 0;
  background: $baseSecondary;
  border-radius: 1px;
  opacity: 0.5;
}

.space-bottom {
  margin-bottom: $verticalSpace;
}

.equation {
  font-size: 17px;
  font-weight: $medium;

  &:first-child {
    margin-top: $minPadding;
  }

  + & {
    margin-top: $minPadding / 2;
  }
}

.fraction {
  @include fraction;

  .denominator {
    width: 100%;
    text-align: center;
    border-top: 1px solid $neutral30;
  }
}

.exponent {
  @include exponent;
  position: relative;
  top: -7px;
  left: -3px;
}

.color {
  color: $basePrimary;
}

.square-root {
  &::before {
    content: '√';
  }
}

.hidden {
  display: block;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  clip: rect(0 0 0 0);
}

.hidden,
.hide-overflow {
  overflow: hidden;
}

// Graphs/Svgs
// --------------------------------------------------------

@mixin dataPoint {
  cursor: pointer;
  transition: fill $durationSlow $timing;

  &:focus {
    outline: none;
  }
}

// Images
// --------------------------------------------------------
.hero-image {
  width: 100%;
  height: auto;
}

// Buttons/Links
// --------------------------------------------------------
// N.B. Most of the button styles are in their own partial
@mixin link {
  color: $baseSecondary;
  text-decoration: none;
  cursor: pointer;
  transition: color $duration $timing;

  &:hover {
    text-decoration: underline;
  }

  &:active,
  &:focus,
  &:visited {
    color: $baseSecondaryDark;
  }
}

.fake-link {
  @include buttonUnstyled;
  @include link;
  text-decoration: underlined;
}

// Print
// --------------------------------------------------------
.print-only {
  display: none;
}

@media print {
  .dont-print {
    display: none;
  }

  .print-only {
    display: inherit;
  }
}

// Navs & Menus
// --------------------------------------------------------
@mixin modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 30;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  background-color: rgba($black, 0.5);

  &.is-open {
    display: flex;
  }
}
