// .histogram {

//   .mean-bar {
//     fill: $black;
//   }

//   .mean-text {
//     font-size: 12px;

//     .inner-text {
//       transform: translateX(50%);
//     }
//   }
// }

.tick {
  @include labelPrimary;
}

.data-bar {
  stroke: transparentize($black, 0.5);
}

.default-color {
  opacity: 1;
  fill: $baseSecondaryLight;
  stroke: $black;
}

.hovered-bar {
  fill: $baseSecondary;
}

.selected-bar {
  fill: $baseSecondaryDark;
}

.data-bar-diff {
  &.hovered-bar, &.selected-bar {
    fill: $neutral10;
  }
}


// Multiple datasets Legend
.legend {
  display: inline-block;
  // width: auto;
  // max-width: 100%;
  padding: $minPadding / 2;
  margin-bottom: $minPadding;
}

.legend-row {
  @include labelPrimary;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  + .legend-row {
    margin-top: $minPadding / 2;
  }
}

.legend-bar {
  width: 12px;
  height: 20px;
  margin-right: $minPadding;
  border: 1px solid $black;
}
