.legend {
  // position: absolute;
  // top: 0;
  // right: 0.5rem;
  // z-index: 20;
  display: flex;
  flex-flow: row nowrap;
}

.legend-box {
  padding: 0;
  text-align: center;

  + .legend-box {
    margin-left: $minPadding;
  }
}

.detail {
  @include labelPrimary;
  margin: 0;
}

.output {
  font-weight: $medium;
}
