.table-title {
  margin-top: 10px;
  font-size: 1.5rem;
  line-height: 1;
}

.grid-table-default {
  grid-area: grid-table-default;
}

.grid-table-top {
  grid-area: grid-table-top;
}

.grid-table-bottom {
  grid-area: grid-table-bottom;
}


.grid-table-middle {
  grid-area: grid-table-middle;
}
