.header-progress-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: $siteProgressHeight;
  padding: 0 $minPadding;
  background-color: rgb(245, 245, 245);
}

.header-progress-checkpoints {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
