.qa-calc {
  :global {
    .md-text-field-container {
      &:not(.answerable) {
        label,
        .md-floating-label,
        .md-floating-label p {
          color: $neutral20;
        }

        hr {
          background-color: $neutral20;
        }
      }
    }

    .md-text-field {
      padding-left: $minPadding / 2;
    }

    .md-card-text {
      padding: 0;

      &:last-child {
        padding: 0;
      }
    }
  }
}

.calc-label {
  @include copySecondary;
  color: $basePrimary;

  &:not(.answerable) {
    color: $neutral20;
  }
}
