.galactic-properties {
  width: 100%;
  height: auto;

  &.loaded {
    visibility: visible;
    /* stylelint-disable-next-line declaration-no-important */
    opacity: 1 !important;
  }
}

.x-axis-label {
  text-anchor: middle;
}

.group-point {
  stroke: none;
  transition: fill $timing $duration, stroke $timing $duration,
    opacity $timing $duration;
}

.invisible {
  display: none;
}

// Multiple datasets Legend
.legend {
  display: inline-block;
  // width: auto;
  // max-width: 100%;
  padding: $minPadding / 2;
  margin-bottom: $minPadding;
}

.legend-row {
  @include labelPrimary;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  + .legend-row {
    margin-top: $minPadding / 2;
  }
}

.legend-point {
  width: 14px;
  height: 14px;
  margin-right: $minPadding;
  border-radius: 50%;
  color-adjust: exact;
}

.default-point {
  background-color: $black;
}
