.galactic-properties-container {
  width: 100%;
}

.galactic-properties {
  width: 100%;
  height: auto;

  &.loaded {
    visibility: visible;
    /* stylelint-disable-next-line declaration-no-important */
    opacity: 1 !important;
  }
}

.x-axis-label {
  text-anchor: middle;
}

.group-point {
  stroke: none;
  transition: fill $timing $duration, stroke $timing $duration,
    opacity $timing $duration;
}

.invisible {
  display: none;
}

// NavDrawer related styles
.card {
  position: relative;
  box-shadow: none;
}

// mini drawer
aside .property-item {
  margin-bottom: -1px;
  background-color: $neutral10;
  transition: background-color $timing $duration;

  .nav-avatar {
    @include labelPrimary;
    font-weight: $medium;
  }

  $i: 0;
  @each $color in $chartColors {
    &.inactive-#{$i} {
      .nav-avatar {
        color: $color;
      }

      :global .md-icon {
        fill: $color;
      }
    }

    &.active-#{$i} {
      background-color: $color;

      .nav-avatar {
        color: $white;
      }

      :global {
        .md-icon {
          fill: $white;
        }
      }
    }

    &.inactive-#{$i},
    &.active-#{$i} {
      &:hover {
        background-color: $color;

        .nav-avatar {
          color: $white;
        }

        :global .md-icon {
          fill: $white;
        }
      }
    }
    $i: $i + 1;
  }

  &.link-is-disabled {
    background-color: rgba(200, 200, 200, 0.6);

    .nav-avatar {
      color: $neutral10;
    }
  }
}

// full size drawer
nav .property-item {
  :global {
    .md-text {
      @include labelPrimary;
      font-weight: $medium;
    }
  }

  $i: 0;
  @each $color in $chartColors {
    &.inactive-#{$i} {
      svg {
        fill: $color;
      }

      :global {
        .md-text {
          /* stylelint-disable-next-line declaration-no-important */
          color: $color !important;
        }
      }
    }

    &.active-#{$i},
    &.active-#{$i}:hover,
    &.inactive-#{$i}:hover {
      /* stylelint-disable-next-line declaration-no-important */
      background-color: $color !important;

      svg {
        fill: $white;
      }

      > div {
        /* stylelint-disable-next-line declaration-no-important */
        background-color: $color !important;
      }

      :global {
        .md-tile-text--primary,
        .md-tile-text--primary.md-text,
        .md-text {
          /* stylelint-disable-next-line declaration-no-important */
          color: $white !important;
        }
      }
    }
    $i: $i + 1;
  }

  &.link-is-disabled {
    background-color: rgba(200, 200, 200, 0.6);

    .nav-avatar {
      color: $neutral10;
    }
  }
}

// Multiple datasets Legend
.legend {
  display: inline-block;
  // width: auto;
  // max-width: 100%;
  padding: $minPadding / 2;
  margin-bottom: $minPadding;
}

.legend-row {
  @include labelPrimary;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  + .legend-row {
    margin-top: $minPadding / 2;
  }
}

.legend-point {
  width: 14px;
  height: 14px;
  margin-right: $minPadding;
  border-radius: 50%;
}

.default-point {
  background-color: $neutral30;
}
