

// Variables
//----------

// Colors
// --------------------------------------------------------
//  Brand Colors
$protonWhite: #ffffff;
$duskGray: #2B2E34;
$lightBlue: #BEE7F5;
$mediumBlue: #2979C1;
$darkBlue: #074A9C;
$ral5018HR: #087f80; // #058B8C was slightly too light to reach WCAG AA certification with normal-sized text
$boldRed: #DF0039;

$white: $protonWhite;
$black: $duskGray;

$neutral10: #F3F3F3;
$neutral20: #E6E6E6;
$neutral30: #828287;
$neutral40: #525459;

$basePrimary: $ral5018HR;
$baseSecondaryLight: $lightBlue;
$baseSecondary: $mediumBlue;
$baseSecondaryDark: $darkBlue;

$error: $boldRed;

// Start overriding react-md variables
$md-primary-color: $basePrimary;
$md-secondary-color: $baseSecondary;
$md-error-color: $error;

// When the primary or secondary colors are not part of material design, you will need to set
// some fallback colors for the the following components:
$md-data-table-contextual-fallback-color: rgba($basePrimary, 0.32);
$md-linear-progress-fallback-color: rgba($basePrimary, 0.54);
$md-switch-fallback-color: rgba($basePrimary, 0.87);

$md-slider-warn-md: false; // only need to set this if using the dark theme.

// Responsive breakpoints
// --------------------------------------------------------
// $break130: ;
// $break120: ;
// $break110: ;
$break100: 1284px;
// $break90: ;
$break80: 1024px;
// $break70: ;
// $break60: ;
$break50: 768px;
// $break40: ;
$break30: 320px;
// $break20: ;
// $break10: ;

// Measurements
// --------------------------------------------------------
$containerMaxWidth: $break100;

$siteHeaderHeight: 64px;

$minPadding: 20px;

$baseLineHeight: 1.4;
$verticalSpace: $baseLineHeight * 1em;

// $durationFast: 0.1s;
$duration: 0.2s;
$durationSlow: 0.4s;
$durationSuperSlow: 1s;
$timing: ease;

// Font Weights
// --------------------------------------------------------
// $thin: 200;
$regular: 400;
$medium: 500;
// $bold: 700;
