.calculation-block {
  p {
    font-size: 17px;
    font-weight: $medium;
    line-height: 1.5;
  }
}

:global {
  .calculated-measurement {
    input {
      padding-left: 20px;
    }
  }

  .underline-hightlight {
    display: inline-block;
    min-width: 40%;
    padding-bottom: 2px;
    border-bottom: 1px solid #333;
  }
}
